body {
    margin: 0;
    background-color: aliceblue;
}

img {
    width: 400px;
    height: auto;
}

.logo {
    width: 250px;
}

.contenedor {
    background-image: url(../img/diaris.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}