<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/static/css/style.css' rel='stylesheet'>
    <title>XSLT</title>
</head>

<body>

    <div class="flex-container">
        <div><h2>La Vanguardia</a></div> <!-- https://www.lavanguardia.com/rss -->
        <div><a href="/lavanguardia/cultura" target="_blank">Cultura</a></div>
        <div><a href="/lavanguardia/local/barcelona" target="_blank">Barcelona</a></div>
    </div>


    <div class="flex-container">
        <div><h2>El Punt Avui</a></div> <!-- https://www.elpuntavui.cat/serveis/rss.html -->
        <div><a href="/elpuntavui/politica" target="_blank">Política</a></div>
        <div><a href="/elpuntavui/esports" target="_blank">Esports</a></div>
    </div>
</body>

</html>